@import '../../App.scss';

.simulator {
  .simulator_container {
    display: flex;
    flex-direction: column;
    align-items: center;

    h4 {
      margin: 50px 50px 0 50px;
      font-size: 30px;
      max-width: 750px;
      text-align: center;
      color: $grey-text;

      // @media (max-width: 768px) {
      //   font-size: 24px;
      //   margin-top: 30px;
      // }

      @media (max-width: 480px) {
        margin: 25px 20px 20px 20px;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;
      margin-top: 40px;
      margin-bottom: 40px;

      @media (max-width: 768px) {
        gap: 10px;
        margin-top: 30px;
        margin-bottom: 30px;
      }

      @media (max-width: 480px) {
        gap: 5px;
        margin-top: 20px;
        margin-bottom: 20px;
      }

      .form_item {
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: 250px;

        // @media (max-width: 768px) {
        //   width: 200px;
        // }

        // @media (max-width: 480px) {
        //   width: 150px;
        // }

        .error {
          color: red;
          font-weight: 400;
          font-size: 14px;

          // @media (max-width: 768px) {
          //   font-size: 12px;
          // }

          // @media (max-width: 480px) {
          //   font-size: 10px;
          // }
        }

        p {
          color: $grey-text;
          font-size: 20px;
          font-weight: 400;

          // @media (max-width: 768px) {
          //   font-size: 14px;
          // }

          // @media (max-width: 480px) {
          //   font-size: 12px;
          // }
        }

        input {
          padding: 10px;
          border-radius: 0;
          font-size: 15px;
          font-weight: 300;
          border: 1px solid $grey-text;
          color: $grey-text;

          // @media (max-width: 768px) {
          //   font-size: 14px;
          // }

          // @media (max-width: 480px) {
          //   font-size: 12px;
          // }

          &:focus {
            outline: none;
            box-shadow: 0px 0px 3px -1px rgba(43, 43, 43, 0.75);
            -webkit-box-shadow: 0px 0px 3px -1px rgba(43, 43, 43, 0.75);
            -moz-box-shadow: 0px 0px 3px -1px rgba(43, 43, 43, 0.75);
          }

          &::placeholder {
            color: $grey-text;
            font-weight: 400;
          }
        }

        select {
          padding: 10px;
          border-radius: 0;
          font-size: 15px;
          font-weight: 200;
          border: 1px solid $grey-text;
          color: $grey-text;
          font-weight: 400;

          &:focus {
            outline: none;
            box-shadow: 0px 0px 3px -1px rgba(43, 43, 43, 0.75);
            -webkit-box-shadow: 0px 0px 3px -1px rgba(43, 43, 43, 0.75);
            -moz-box-shadow: 0px 0px 3px -1px rgba(43, 43, 43, 0.75);
          }
        }
      }

      button {
        background-color: $gold;
        color: $white;
        font-weight: 700;
        font-size: 17px;
        margin: 20px;
        // margin-right: 10px;
        line-height: 20px;
        padding: 15px 35px;
        height: 50px;
        border: 2px solid $gold;
        border-radius: 100px;
        cursor: pointer;

        @media (max-width: 768px) {
          // font-size: 15px;
          // padding: 12px 30px;
          // height: 45px;
        }

        @media (max-width: 480px) {
          // font-size: 13px;
          // padding: 10px 25px;
          // height: 40px;
        }

        &:hover {
          background-color: transparent;
          transition: all 0.4s;
          color: $gold;
        }
      }
    }
  }
}
