@import '../../App.scss';

nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: $dark-blue;
  height: 80px;
  min-width: max-content;
  justify-content: space-around;
  transition: background-color 0.3s ease;
  &.scrolled {
    background-color: $navbar-degrade;
    .menu {
      background-color: transparent;
    }
  }
  .logo {
    height: 60px;
    width: 230px;
  }

  .menu {
    display: none;
    position: relative;
    width: 2.5rem;
    height: 2rem;
    border: 2px solid $gold;
    border-radius: 0.4rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 5px;
    background-color: $dark-blue;
    svg {
      display: block;
      color: $gold;
    }
  }

  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    list-style: none;
    padding: 0;
    margin: 0;
    // width: 100%;
    justify-content: flex-end;

    li {
      color: $white;
      cursor: pointer;
      font-size: 16px;
      padding: 15px;
      &:hover {
        color: $gold;
      }
      &.open_sans {
        font-weight: 550;
      }
      a {
        color: $white;
        text-decoration: none;
        &:hover {
          color: $gold;
        }
        &.open_sans {
          font-weight: 550;
        }
      }
    }
  }
}

@media (max-width: 1050px) {
  nav {
    padding: 0.5rem 1rem;
    &.scrolled {
      ul {
        &.open {
          background-color: $navbar-degrade;
        }
      }
    }
    .menu {
      display: flex;
    }

    ul {
      display: none;
      flex-direction: column;
      width: 100%;
      padding: 0;
      &.open {
        display: flex;
        transition: all 0.4s;
        position: absolute;
        top: 100%; // Establece top al 100% para posicionarse debajo del navbar
        left: 0; // Alinea a la izquierda
        width: 100%; // Ocupa todo el ancho
        background-color: $dark-blue; // Añade color de fondo para distinguir
        z-index: 1000;
        border-top: 1px solid $gold;
      }
      li {
        width: 100%;
        text-align: center;
        padding: 1rem;
        a {
          margin: 0;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  nav {
    padding: 0.5rem;

    .logo {
      height: 50px;
      width: auto;
    }

    .menu {
      width: 2.5rem;
      height: 2rem;
    }

    ul {
      &.open {
        height: auto; // Ajusta la altura automáticamente según el contenido
        padding: 1rem;
        top: 100%; // Asegura que el menú se abra justo debajo del navbar
        left: 0;
        background-color: $dark-blue;
        z-index: 1000;
      }
      li {
        font-size: 14px;
      }
    }
  }
}
